
h1 {
    color:red !important;
}

.GoogleMap
{
    height: 100%;
    width: 400px;
}

#install-btn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}