

h1 {
    color:red;
}

.GoogleMap {
    height: 50%;
    width: 36%;
    min-width: 7rem;
    min-height: 30rem;
}

#installButton {
    background-color: #317EFB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
}

#installButton:hover {
    background-color: #245cb5;
}


.VideoOnly
{
    height:auto;
}

#video-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 3;
}

#video-container {
    height: 450px !important;
    height: var(--video-height);
    max-height: var(--video-height);
    /* transform-style: preserve-3d; */
    transform-origin: center left;
    transition: transform 0.8s ease-out;
}

#container {
    width: 50% !important;
    width: var(--video-width);
    position: relative;
    background-color: #cccccc;
    perspective: 300px;
}

.content {
    padding:15px;
}

#front-camera, #rear-camera {
    object-fit: cover;
    display: none; /* Hide by default */
    width: 755.6px; /* Desired width */
    height: 485px; /* Desired height */
    z-index: -2;
    position: absolute;
}

#front-camera,
#rear-camera {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: scale(0.9);
    display: none;
}

/* When a camera is active (visible) */
#front-camera.initialized,
#rear-camera.initialized {
    opacity: 1;
    transform: scale(1);
    display: block;
}

/* Animation when switching cameras */
.fade-out {
    opacity: 0;
    transform: scale(0.9);
}

.fade-in {
    opacity: 1;
    transform: scale(1);
}

/* Styles for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}